{
    "base": "/dayz2/@DayZ2",
    "output": "/dayz2/torrents",
    "tracker": "http://www.perry-swift.de:3333/announce",
    "torrents": [
        {
            "name": "dayz_anims",
            "files": ["Addons/dayz_anims.pbo"]
        },
        {
            "name": "dayz_arma",
            "files": ["Addons/dayz_arma.pbo"]
        },
        {
            "name": "dayz_buildings",
            "files": ["Addons/dayz_buildings.pbo"]
        },
        {
            "name": "dayz_characters",
            "files": ["Addons/dayz_characters.pbo"]
        },
        {
            "name": "dayz_chernarus",
            "files": ["Addons/dayz_chernarus.pbo"]
        },
        {
            "name": "dayz_client",
            "files": ["Addons/dayz_client.pbo"]
        },
        {
            "name": "dayz_common",
            "files": ["Addons/dayz_common.pbo"]
        },
        {
            "name": "dayz_debug",
            "files": ["Addons/dayz_debug.pbo"]
        },
        {
            "name": "dayz_items",
            "files": ["Addons/dayz_items.pbo"]
        },
        {
            "name": "dayz_legacy",
            "files": ["Addons/dayz_legacy.pbo"]
        },
        {
            "name": "dayz_sound",
            "files": ["Addons/dayz_sound.pbo"]
        },
        {
            "name": "dayz_vehicles",
            "files": ["Addons/dayz_vehicles.pbo"]
        },
        {
            "name": "dayz_weapons",
            "files": ["Addons/dayz_weapons.pbo"]
        },
        {
            "name": "DayzSignatures",
            "files": [
                "Addons/dayz_anims.pbo.dayz2dev.bisign",
                "Addons/dayz_arma.pbo.dayz2dev.bisign",
                "Addons/dayz_buildings.pbo.dayz2dev.bisign",
                "Addons/dayz_characters.pbo.dayz2dev.bisign",
                "Addons/dayz_chernarus.pbo.dayz2dev.bisign",
                "Addons/dayz_client.pbo.dayz2dev.bisign",
                "Addons/dayz_common.pbo.dayz2dev.bisign",
                "Addons/dayz_debug.pbo.dayz2dev.bisign",
                "Addons/dayz_items.pbo.dayz2dev.bisign",
                "Addons/dayz_legacy.pbo.dayz2dev.bisign",
                "Addons/dayz_sound.pbo.dayz2dev.bisign",
                "Addons/dayz_vehicles.pbo.dayz2dev.bisign",
                "Addons/dayz_weapons.pbo.dayz2dev.bisign"
            ]
        },
        {
            "name": "DayzExtensions",
            "files": [
                "DayzCommon.dll",
                "DayzCommonLog.dll"
            ]
        }
    ]
}
