{
    "base_url": "https://www.perry-swift.de/dayz2/",
    "base_path": "/dayz2/webserver/",
    "mods_path": "mods/",
    "torrent_path": "/dayz2/torrents",
    "gametypes": [
        {
            "torrents": [
                "dayz_anims.torrent",
                "dayz_arma.torrent",
                "dayz_buildings.torrent",
                "dayz_characters.torrent",
                "dayz_chernarus.torrent",
                "dayz_client.torrent",
                "dayz_common.torrent",
                "dayz_debug.torrent",
                "dayz_items.torrent",
                "dayz_legacy.torrent",
                "dayz_sound.torrent",
                "dayz_vehicles.torrent",
                "dayz_weapons.torrent",
                "DayzSignatures.torrent",
                "DayzExtensions.torrent"
            ],
            "ident": "@DayZ2",
            "launchable": true,
            "name": "DayZ2"
        } 
    ],
    "plugins": []
}
